@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\61";
}
.icon-arrow-down:before {
  content: "\62";
}
.icon-arrow-left:before {
  content: "\63";
}
.icon-arrow-right:before {
  content: "\64";
}
.icon-arrow-up:before {
  content: "\65";
}
.icon-book:before {
  content: "\66";
}
.icon-bookmark:before {
  content: "\67";
}
.icon-briefcase:before {
  content: "\68";
}
.icon-broadcast:before {
  content: "\69";
}
.icon-browser:before {
  content: "\6a";
}
.icon-bug:before {
  content: "\6b";
}
.icon-calendar:before {
  content: "\6c";
}
.icon-check:before {
  content: "\6d";
}
.icon-checklist:before {
  content: "\6e";
}
.icon-chevron-down:before {
  content: "\6f";
}
.icon-chevron-left:before {
  content: "\70";
}
.icon-chevron-right:before {
  content: "\71";
}
.icon-chevron-up:before {
  content: "\72";
}
.icon-dash:before {
  content: "\73";
}
.icon-comment-discussion:before {
  content: "\74";
}
.icon-comment:before {
  content: "\75";
}
.icon-code:before {
  content: "\76";
}
.icon-cloud-upload:before {
  content: "\77";
}
.icon-cloud-download:before {
  content: "\78";
}
.icon-clock:before {
  content: "\79";
}
.icon-clippy:before {
  content: "\7a";
}
.icon-circle-slash:before {
  content: "\41";
}
.icon-database:before {
  content: "\42";
}
.icon-device-desktop:before {
  content: "\43";
}
.icon-device-mobile:before {
  content: "\44";
}
.icon-device-camera:before {
  content: "\45";
}
.icon-eye:before {
  content: "\46";
}
.icon-ellipsis:before {
  content: "\47";
}
.icon-gear:before {
  content: "\48";
}
.icon-file-zip:before {
  content: "\49";
}
.icon-heart:before {
  content: "\4a";
}
.icon-home:before {
  content: "\4b";
}
.icon-info:before {
  content: "\4c";
}
.icon-hourglass:before {
  content: "\4d";
}
.icon-key:before {
  content: "\4e";
}
.icon-light-bulb:before {
  content: "\4f";
}
.icon-link:before {
  content: "\50";
}
.icon-location:before {
  content: "\51";
}
.icon-mail:before {
  content: "\52";
}
.icon-logo-github:before {
  content: "\53";
}
.icon-mail-read:before {
  content: "\54";
}
.icon-mortar-board:before {
  content: "\55";
}
.icon-mark-github:before {
  content: "\56";
}
.icon-mail-reply:before {
  content: "\57";
}
.icon-octoface:before {
  content: "\58";
}
.icon-organization:before {
  content: "\59";
}
.icon-package:before {
  content: "\5a";
}
.icon-paintcan:before {
  content: "\30";
}
.icon-pencil:before {
  content: "\31";
}
.icon-person:before {
  content: "\32";
}
.icon-pin:before {
  content: "\33";
}
.icon-settings:before {
  content: "\34";
}
.icon-ios-basketball:before {
  content: "\35";
}
.icon-ios-basketball-outline:before {
  content: "\36";
}
